<!DOCTYPE html>
<html>
<head>
    <link type = "text/css" rel = "stylesheet" href = "/static/main.css" />
<title>Heather's Blog</title>
</head>

<body>
<!--
<h1>Heather's Build-a-Blog</h1>
-->
<a href = "/blog" class = "main-title">HeatherHH's Build-a-Blog<br>file: base.html</a>
<div id = "content">
    {% block content %}
    {% endblock %}
</div>

<!--
<form method="post">
    <label>
        <div>title</div>
        <input type="text" name="title" value="{{title}}">
    </label>

    <label>
        <div>art</div>
        <textarea name = "art">{{art}}</textarea>
    </label>

    <div class="error">{{error}}</div>

    <input type="submit">
</form>

<hr>
{% for art in arts %}
    <div class="art">
    <div class="art-title">{{art.title}}</div>
    <pre class="art-body">{{art.art}}</pre></div>
{% endfor %}
</hr>
-->

</body>

</html>
